.delete-confirmation-dialog {
  .modal__footer {
    border-top: 1px solid rgba(var(--center-channel-color-rgb), 0.2);
    flex-direction: row-reverse !important;
    justify-content: flex-start !important;

    .modal__confirm-btn {
      @extend .margin-0, .margin-left-15;
      width: unset;
      background: $delete-confirmation-dialog-btn-bg !important;
      border-color: $delete-confirmation-dialog-btn-border !important;

      &:hover,
      &:active,
      &:focus {
        outline: none;
        background: $delete-confirmation-dialog-btn-hover-bg !important;
        border-color: $delete-confirmation-dialog-btn-hover-border !important;
      }
    }
  }
}
