.form-group {
  position: relative;

  &__control {
    height: 50px;
    border-width: 2px;
    &.a11y--focused {
      box-shadow: none;
      border-color: rgba(var(--center-channel-color-rgb), 0.4);
    }
    &::placeholder {
      color: rgba(var(--center-channel-color-rgb), 0.4);
    }
    &:focus {
      &::placeholder {
        color: rgba(var(--center-channel-color-rgb), 0.7);
      }
    }
  }

  &__field-placeholder {
    max-width: calc(100% - 20px);
    color: rgba(var(--center-channel-color-rgb), 0.4);
    @include positioning(absolute, 10px, '', '', 11px, 0);
    transform: translateY(-6px);
    font-size: 90%;
  }

  &__input--shifted {
    padding-top: 15px;
  }

  &__control--err {
    border-color: rgba(var(--error-text-color-rgb), 0.5) !important;
    &::placeholder {
      color: rgba(var(--error-text-color-rgb), 0.8) !important;
    }
    &:focus {
      border-color: rgba(var(--error-text-color-rgb), 0.7) !important;
      &::placeholder {
        color: rgba(var(--error-text-color-rgb), 0.9) !important;
      }
    }
  }
}
