.wizard {
  &__primary-panel {
    transition: all 300ms ease;

    &--fade-out {
      @include positioning(absolute, 61px, 0, '', 0);
      opacity: 0;
      transition: all 50ms ease;
      visibility: hidden;
    }

    .modal__confirm-btn {
      @extend .margin-0;
    }
  }
}
