@include keyframes(shine) {
  to {
    background-position: 130% 0;
  }
}

@include keyframes(rotate-center) {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@include keyframes(slide-right) {
  0% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(250%);
    transform: translateX(250%);
  }
}
