button {
  &:active,
  &:focus {
    outline: none !important;
  }
}

// Color for channel header svg icons for plugins
.channel-header__icon {
  &:hover {
    path {
      fill: rgba(var(--center-channel-color-rgb), 0.72);
    }
  }
  &:active {
    path {
      fill: var(--button-bg);
    }
  }
}

// To make the icon color same as text color
.icon-text-color {
  color: var(--center-channel-color);

  &--stroke {
    * {
      stroke: var(--center-channel-color);
    }
  }

  &--fill {
    path {
      fill: var(--center-channel-color);
    }
  }
}
