.text-ellipsis {
  @include truncate(100%);
}

// Text aligns
@each $text-align in $text-aligns {
  .text-#{$text-align} {
    text-align: $text-align !important;
  }
}

// Text transforms
@each $text-transform in $text-transforms {
  .text-#{$text-transform} {
    text-transform: $text-transform !important;
  }
}

// Font-weights
@each $font-weight in $font-weights {
  .wt-#{$font-weight} {
    font-weight: $font-weight !important;
  }
}

// Font sizes
@each $font-size in $font-sizes {
  .font-#{$font-size} {
    font-size: #{$font-size}px !important;
  }
}

// Margins and paddings
@each $spacing in $spacings {
  .margin-#{$spacing} {
    margin: #{$spacing}px !important;
  }
  .padding-#{$spacing} {
    padding: #{$spacing}px !important;
  }
}

// Margins and paddings in individual directions
@each $dir in $dirs {
  @each $spacing in $spacings {
    .margin-#{$dir}-#{$spacing} {
      margin-#{$dir}: #{$spacing}px !important;
    }
    .padding-#{$dir}-#{$spacing} {
      padding-#{$dir}: #{$spacing}px !important;
    }
  }
}

// Margins and paddings in vertical and horizontal direction
@each $spacing in $spacings {
  // We can't use shorthands here because that can override the styles(margin/padding) for other directions
  .margin-v-#{$spacing} {
    margin-top: #{$spacing}px !important;
    margin-bottom: #{$spacing}px !important;
  }
  .padding-v-#{$spacing} {
    padding-top: #{$spacing}px !important;
    padding-bottom: #{$spacing}px !important;
  }

  .margin-h-#{$spacing} {
    margin-left: #{$spacing}px !important;
    margin-right: #{$spacing}px !important;
  }
  .padding-h-#{$spacing} {
    padding-left: #{$spacing}px !important;
    padding-right: #{$spacing}px !important;
  }
}

// Cursor styles
@each $cursor-style in $cursor {
  .cursor-#{$cursor-style} {
    cursor: $cursor-style !important;
  }
}

// Positions
@each $position in $positions {
  .position-#{$position} {
    position: $position !important;
  }
}

// Display
@each $display in $display-styles {
  .d-#{$display} {
    display: $display !important;
  }
}

// Border radius
@each $border-rad in $border-radius {
  .border-radius-#{$border-rad} {
    border-radius: #{$border-rad}px !important;
  }
}

.circle {
  border-radius: 100% !important;
}

// Background colors

// Channel background colors
.channel-bg {
  background: var(--center-channel-bg);
}

// Background color similar to channel text color
.channel-bg-text-color {
  background: var(--center-channel-text);
}


// Sidebar background color
.sidebar-bg {
  background: var(--sidebar-bg);
}

// Text colors

// Text color similar to channel bg
.channel-text-bg-color {
  color: var(--center-channel-bg);
}

// Channel text colors
.channel-text {
  color: var(--center-channel-text);
}

// Sidebar color
.sidebar-color {
  color: var(--sidebar-text);
}

// Error colors
.error-text {
  color: var(--error-text);
}

// Link color
.link-color {
  color: var(--link-color);
}

// Error color
.error-text {
  color: var(--error-text);
}
